@{
    ViewBag.Title = "ホーム ページ";
}

<h2>@ViewBag.Message</h2>
<p>
    Facebook Open Graph の詳細については、<a href="https://developers.facebook.com/docs/opengraph/" title="Facebook Developer">Facebook Developer サイト</a> を参照してください。
</p>
